 <footer class="page-footer brown lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Localização</h5>
          <p class="white-text text-lighten-4">Rua Adolpho Jose De Aguiar, 135. Bairro Guilhermina Vieira Chaer. Araxá, MG.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Horários de funcionamento</h5>
          <ul>
            <li><span class="white-text">2ª a 6ª das 8h às 17h</span></li>
            <li><span class="white-text">Sáb. das 8h às 12h</span></li>
           </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Telefones</h5>
          <ul>
		     <li>      <a class="collection-item valign-wrapper" href="tel:3491547219">
              <i class="material-icons small valign">phone</i>
         <span>  (34) 9154-7219</span>
        </a></li>
	            <li>      <a class="collection-item valign-wrapper" href="tel:34992390580">
              <i class="material-icons small valign">phone</i>
         <span>  (34) 99239-0580</span>
        </a></li>
                      </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
	      <div class="row">
      <a class="white-text text-lighten-3 col l9 s12" href="http://materializecss.com">Copyright © 2017 Monsenhor Divisórias</a>
	      <a class="white-text text-lighten-3 col l3 s12" href="http://www.odati.com.br">web by OdaTI</a>
	      </div>
      </div>
    </div>
</footer>
