 <div class="full-page-panel">
    <h2 class="header">Divisórias</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://monsenhordivisorias.github.io/images/costura.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Montagem, desmontagem e remanejamentod e divisórias.</p>
        </div>
      </div>
    </div>
  
      <h2 class="header">Armários para cozinha</h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>Sua cozinha mais organizada e bonita.</p>
        </div>
      </div>
        <div class="card-image">
        <img src="https://monsenhordivisorias.github.io/images/reparo.jpg">
      </div>  
  </div>
      <h2 class="header">Guarda-roupas</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://monsenhordivisorias.github.io/images/customizacao2.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Guarda-roupas embutidos.</p>
        </div>
      </div>
    </div>
  </div>
